.border{
    border: 2px solid  red;
    margin: 3px;
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.items-center{
    align-items: center;
}

.bg-black{
    background-color: black;
    color: white;
}

.invert{
    filter: invert(1);
}

.bg-grey{
    background-color: #121212;
}

.rounded{
    border-radius: 7px;
}

.m-1{
    margin: 5px;
}

.p-1{
    padding: 10px;
}

/* card - scrollbar */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: #454444;
} 
::-webkit-scrollbar-track {
    background-color: #222222;
}

/* songs - scrollbar */
.song-box::-webkit-scrollbar {
  width: 5px;
}
.song-box::-webkit-scrollbar-thumb {
  background-color: #454444;
}
.song-box::-webkit-scrollbar-track {
  background-color: #222222;
}
